node_modules
.next
out
build

.github
.claude
.vscode
.idea

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

test-results
playwright-report
coverage

Dockerfile
.dockerignore
docker-compose.yaml
docker-compose.yml

README.md
README.zh.md
CHANGELOG.md
CLAUDE.md
docs
